$main-white: #ffffff;
$text-gray: #666666;
$theme-default-color:#1698d9;
$theme-selected-color:#ef3441;
$theme-disabled-color:#d2d2d2;
$theme-border-disabled-color:#b3b3b3;
$theme-hover-color:rgba(239,52,65,0.5);
